@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
        
body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: #F4A261 !important;
    color: #3A2C20 !important;
}
#riddle-container {
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
    background: #FFF5E4 !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2em;
    color: #8B4513 !important;
    margin-bottom: 30px;
}
#acronym-subheading {
    font-size: 2em;
    margin-top: 10px;
    color: #BF5F04 !important;
    font-weight: bold;
}
.acronym-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
}
.acronym-letter {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.guess-slot {
    font-weight: normal;
    margin-left: 10px;
}
#guess-container {
    display: flex;
    align-items: start;
    margin-top: 30px;
}
#guess-interface {
    flex: 2;
    padding-left: 20px;
    border-left: 2px solid #D2691E !important;
}
#clue {
    margin-top: 20px;
    font-style: italic;
    color: #8B4513 !important;
}
#word-input {
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #BF5F04 !important;
    border-radius: 5px;
}
#submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #BF5F04 !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}
#submit-button:hover {
    background-color: #A0522D !important;
}
#hint {
    margin-top: 30px;
    font-weight: bold;
    color: #5C3D2E !important;
}