@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-color: #3d2e1e !important; /* warm, dark brown background */
    color: #eae2b7 !important; /* light tan color for text */
}

button, input, textarea, select {
    font-family: 'Bebas Neue', sans-serif;
}

#riddle-container {
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
    background: #592e0a !important; /* soft, warm yellow */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2.5em;
    color: #d62828 !important; /* rich, warm red for the header */
    margin-bottom: 30px;
}
#acronym-subheading {
    font-size: 2.5em;
    margin-top: 10px;
    color: #f77f00 !important; /* bright, orange color for the acronym heading */
    font-weight: bold;
}
@media (max-width: 768px) {
    #acronym-subheading {
        font-size: 1.5em; /* Smaller size for mobile */
    }
}
.acronym-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
}
.acronym-letter {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.guess-slot {
    font-weight: normal;
    margin-left: 10px;
}
#guess-container {
    display: flex;
    align-items: start;
    margin-top: 30px;
}
#guess-interface {
    flex: 2;
    padding-left: 20px;
    /* BORDER BETWEEN RIDDLE CONTAINER AND LETTER BOX FOR INITIALISMS VVVVV */
    /* border-left: 2px solid #f77f00 !important;   */
}
#clue {
    margin-top: 20px;
    font-style: italic;
    color: #fbde02 !important; /* light tan for clue text */
}
#letters-guessed {
    margin-top: 20px;
    font-style: italic;
    color: #fbde02 !important; /* light tan for clue text */
}
#to-move {
    margin-top: 20px;
    font-style: italic;
    color: #fbde02 !important; /* light tan for clue text */
}
#word-input {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid #f77f00 !important; /* bright orange border for input */
    border-radius: 5px;
    text-align: center;
}
#submit-word {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #f77f00 !important; /* bright orange border for input */
    border-radius: 5px;
    text-align: center;
}
#move-input {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    border: 2px solid #f77f00 !important; /* bright orange border for input */
    border-radius: 5px;
    text-align: center;
}
#submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #f77f00 !important; /* bright orange background for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}
#submit-move-button {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f77f00 !important; /* bright orange background for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submit-word-button {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f77f00 !important; /* bright orange background for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submit-button:hover {
    background-color: #d62828 !important; /* warm red on hover */
}
#hint {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #eae2b7 !important; /* light tan for hint text */
}
#instructions {
    margin-top: 30px;
    font-weight: lighter;
    color: #ffffff !important
}
#leaderboard-table {
    color: #fbde02; /* Change this to your desired color code */
}
#leaderboard-table tbody tr:nth-child(odd) {
    background-color: #2a2a2a !important; /* Light gray for odd rows */
}
#leaderboard-table tbody tr:nth-child(even) {
    background-color: #676767 !important; /* White for even rows */
}
#leaderboard-table tbody tr td {
    color: #fbde02 !important; /* Font color for table body cells */
}
#chessboard {
    width: 275px; /* Set this to adjust board size */
    max-width: auto;
}
#example-board {
    width: 275px;
    max-width: auto
}