@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');

body {
    font-family: 'JetBrains Mono';
    text-align: center;
    background-color: #183d00 !important; /* deep, cool blue background */
    color: #f5f5f5 !important; /* soft white for text */
}

button, input, textarea, select {
    font-family: 'JetBrains Mono';
}

h1 {
    font-size: 2.5em;
    color: #51a800 !important; /* light icy blue for the header */
    margin-bottom: 30px;
}

/* General riddle container */
#riddle-container {
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
    background: #214d08 !important; /* muted winter blue */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Acronym stuff */
#acronym-subheading1 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #d9fcd0 !important; /* frosty white for the acronym heading */
    font-weight: bold;
}

#acronym-subheading2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #d7fcce !important; /* frosty white for the acronym heading */
    font-weight: bold;
}

@media (max-width: 768px) {
    #acronym-subheading {
        font-size: 1em; /* Smaller size for mobile */
    }
}

.acronym-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
}

.acronym-letter {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f5f5f5; /* soft white for letters */
}

.guess-slot {
    font-weight: normal;
    margin-left: 10px;
    color: #98d99b; /* light icy blue */
}

/* Guess container stuff */
#guess-container {
    display: flex;
    align-items: start;
    margin-top: 30px;
}

#guess-interface {
    flex: 2;
    padding-left: 20px;
    border-left: 2px solid #9fd998 !important; /* same light blue as other elements */
}

#instructions {
    margin-top: 20px;
    font-style: italic;
    color: #d5fccd !important; /* frosty white for clue text */
}

#word-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #aad998 !important; /* icy blue border */
    border-radius: 5px;
    background-color: #f5f5f5; /* soft white background */
    color: #31591e; /* deep blue text */
}

#submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2d691f !important; /* muted winter blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #9dd998 !important; /* light blue on hover */
}

#hint {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #e9fce0 !important; /* frosty white for hint text */
}

#current-letter {
    color: #e1fce0 !important;
    margin-bottom: 20px;
}